// // Colors
// $color-primary: #176bfb;
// $color-green: #3ca455;
// $color-orange: #e67337;
// $color-red: #c84040;
// $color-text: #110f24;
// $color-white: #fff;
// $color-gray-dark: #6e6e6e;
// $color-gray-medium: #ababad;
// $color-gray-light: #cccccf;

// Colors
$color-primary: #363130;
$color-secondary: #888382;
$color-tertiary: #E2842E;
$color-green: #3ca455;
$color-orange: #e67337;
$color-red: #c84040;
$color-text: #110f24;
$color-white: #fff;
$color-gray-dark: #6e6e6e;
$color-gray-medium: #ababad;
$color-gray-light: #cccccf;

// font
$HEAD-FONT: "Lato", sans-serif;
$FONT1: "Cabin", sans-serif;
$FONT2: "Poppins", sans-serif;
$FONT3: "Imprima", sans-serif;
$FONT4: "Overlock", cursive;

//media screens
$--xs: 375px;
$--sm: 560px;
$--md: 768px;
$--lg: 1024px;
$--xl: 1440px;

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV